$small:12px;

$color-body:#3B4859;
$color-black:#000;
$color-dark :#333;
$color-gray:#9BA3AD;
$color-black-light:rgba(0,0,0,.1);

$font-family:'Noto Sans KR', Sans-Serif;

$font-weight-bold:700;
$font-weight-bolder:600;
$font-weight-normal:500;
$font-weight-light:400;


$bg-shadow-xs:rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;;
$bg-shadow-md:rgba(9, 30, 66, 0.25) 0px 8px 16px -4px, rgba(9, 30, 66, 0.31) 0px 0px 1px;


$spacer:1rem;