@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lbu3uk');
  src:  url('fonts/icomoon.eot?lbu3uk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lbu3uk') format('truetype'),
    url('fonts/icomoon.woff?lbu3uk') format('woff'),
    url('fonts/icomoon.svg?lbu3uk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo-fss-org .path1:before {
  content: "\e939";
  color: rgb(250, 172, 24);
}
.icon-logo-fss-org .path2:before {
  content: "\e93a";
  margin-left: -1.0576171875em;
  color: rgb(13, 50, 123);
}
.icon-logo-fss-org .path3:before {
  content: "\e93b";
  margin-left: -1.0576171875em;
  color: rgb(13, 50, 123);
}
.icon-ox-o:before {
  content: "\e937";
}
.icon-ox-x:before {
  content: "\e938";
}
.icon-customer .path1:before {
  content: "\e935";
  color: rgb(35, 25, 22);
}
.icon-customer .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(24, 52, 126);
}
.icon-check:before {
  content: "\e934";
}
.icon-inStock .path1:before {
  content: "\e926";
  color: rgb(24, 52, 126);
}
.icon-inStock .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-inStock .path3:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(35, 25, 22);
}
.icon-fss-outStock .path1:before {
  content: "\e929";
  color: rgb(35, 25, 22);
}
.icon-fss-outStock .path2:before {
  content: "\e92a";
  margin-left: -1.3330078125em;
  color: rgb(24, 52, 126);
}
.icon-fss-outStock .path3:before {
  content: "\e92b";
  margin-left: -1.3330078125em;
  color: rgb(24, 52, 126);
}
.icon-keeping .path1:before {
  content: "\e92c";
  color: rgb(35, 25, 22);
}
.icon-keeping .path2:before {
  content: "\e92d";
  margin-left: -1.2080078125em;
  color: rgb(24, 52, 126);
}
.icon-delivery .path1:before {
  content: "\e92e";
  color: rgb(35, 25, 22);
}
.icon-delivery .path2:before {
  content: "\e92f";
  margin-left: -1.2919921875em;
  color: rgb(13, 50, 123);
}
.icon-delivery .path3:before {
  content: "\e930";
  margin-left: -1.2919921875em;
  color: rgb(13, 50, 123);
}
.icon-delivery .path4:before {
  content: "\e931";
  margin-left: -1.2919921875em;
  color: rgb(13, 50, 123);
}
.icon-require .path1:before {
  content: "\e932";
  color: rgb(35, 25, 22);
}
.icon-require .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(24, 52, 126);
}
.icon-play-circle-light .path1:before {
  content: "\e924";
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.icon-play-circle-light .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(13, 50, 123);
}
.icon-logo-xsabangnet:before {
  content: "\e923";
}
.icon-fa-facebook-square:before {
  content: "\e920";
}
.icon-naver-blog:before {
  content: "\e921";
}
.icon-fa-instagram:before {
  content: "\e922";
}
.icon-checkbox-brand:before {
  content: "\e91c";
  color: #007aff;
}
.icon-checkbox-outline-brand:before {
  content: "\e91d";
}
.icon-radio-on-brand:before {
  content: "\e91e";
  color: #007aff;
}
.icon-radio-off-brand:before {
  content: "\e91f";
}
.icon-logo-naver-n:before {
  content: "\e91b";
}
.icon-logo-fss .path1:before {
  content: "\e914";
  color: rgb(254, 254, 254);
}
.icon-logo-fss .path2:before {
  content: "\e919";
  margin-left: -1.0380859375em;
  color: rgb(250, 172, 24);
}
.icon-logo-fss-white:before {
  content: "\e91a";
}
.icon-box-alt-light:before {
  content: "\e917";
}
.icon-clock-light:before {
  content: "\e918";
}
.icon-box-fss-3d .path1:before {
  content: "\e900";
  color: rgb(234, 175, 114);
}
.icon-box-fss-3d .path2:before {
  content: "\e901";
  margin-left: -1.2861328125em;
  color: rgb(182, 124, 72);
}
.icon-box-fss-3d .path3:before {
  content: "\e902";
  margin-left: -1.2861328125em;
  color: rgb(205, 145, 87);
}
.icon-box-fss-3d .path4:before {
  content: "\e903";
  margin-left: -1.2861328125em;
  color: rgb(164, 94, 41);
}
.icon-boxes-alt-light:before {
  content: "\e904";
  color: #0d327b;
}
.icon-browser-light-API:before {
  content: "\e905";
  color: #0d327b;
}
.icon-browser-light-code:before {
  content: "\e906";
  color: #0d327b;
}
.icon-desktop-light:before {
  content: "\e907";
  color: #0d327b;
}
.icon-fa-tshirt-text-l:before {
  content: "\e908";
}
.icon-fa-tshirt-text-m:before {
  content: "\e912";
}
.icon-fa-tshirt-text-s:before {
  content: "\e913";
}
.icon-logo-fssOnly:before {
  content: "\e915";
}
.icon-logo-naver:before {
  content: "\e916";
}
.icon-logo-symbol-white .path1:before {
  content: "\e909";
  color: rgb(250, 172, 24);
}
.icon-logo-symbol-white .path2:before {
  content: "\e90a";
  margin-left: -1.892578125em;
  color: rgb(255, 255, 255);
}
.icon-logo-symbol .path1:before {
  content: "\e90b";
  color: rgb(250, 172, 24);
}
.icon-logo-symbol .path2:before {
  content: "\e90c";
  margin-left: -1.892578125em;
  color: rgb(13, 50, 123);
}
.icon-naverBlog:before {
  content: "\e90d";
  color: #fff;
}
.icon-shipping-fast-light:before {
  content: "\e90e";
  color: #0d327b;
}
.icon-truck-loading-light:before {
  content: "\e90f";
  color: #0d327b;
}
.icon-truck-moving-light:before {
  content: "\e910";
  color: #0d327b;
}
.icon-warehouse-alt-light:before {
  content: "\e911";
  color: #0d327b;
}
